# Git
.git
.gitignore

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/

# Environment variables
.env
.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/
zeabur.yaml
README.md